
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% load staticfiles %}
  {% load widget_tweaks %}
  {% load mathfilters %}


  <title>WaterBot | {{ symbol_name }}</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'interface/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'interface/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'interface/css/sb-admin.css' %}" rel="stylesheet">

</head>

<body id="page-top" class="sidebar-toggled">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">WaterBot</a>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav toggled">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      {% if symbols %}
      {% for symbol in symbols %}
      <li class="nav-item">
        <a class="nav-link" href="/coinwise/{{ symbol }}">
          <i class="fab fa-bitcoin"></i>
          <span>{{ symbol }}</span></a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">{{ symbol_name }}</a>
          </li>
          
        </ol>

        <!-- Predictions -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Predictions </div>
          <div class="card-body">
            <center><h2 class="colored_header">MACD: {{ macd }}</h2></center>
            <center><h2 class="colored_header">Change: {{ change }}%</h2></center>

            <table class="table table-bordered js-sort-table" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                      <th>Current Position</th>
                      <th>Current Prediction</th>
                      <th>Current Move</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                        <td class="colored_text"> 
                            {{ current_position }}
                          </td>
                        <td class="colored_text">
                            {{ current_prediction }}
                          </td>
                        <td class="colored_text">
                          {{ current_move }}
                          </td>
                  </tr>
              </tbody>
             </table>

          </div>
          <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
          </div>

        <!-- Summary -->
        <div class="card mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                  Summary</div>
                <div class="card-body">
                  <div class="table-responsive">
                                                                
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        {% if forward_metrics %}
                        {% for key, value in forward_metrics.items%} 											
                            <td style="background-color:#f9f9f9;"><b>{{ key }}:</b></td>

                            {% if forloop.counter == 1 or forloop.counter == 2 %}
                            <td class="colored">{{ value }} %</td>
                            {% else %}
                            <td>{{ value }}</td>
                            {% endif %}

                            {% if forloop.counter == 2 or forloop.counter == 4 or forloop.counter == 6 or forloop.counter == 8 or forloop.counter == 10 %}
                            </tr>
                            <tr>
                            {% endif %}
                        {% endfor %}
                        </tr>

                        {% else %}
                        <p class="text-danger">No data found</p>
                        {% endif %}
                    </table>
                  </div>
                </div>
                <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
        </div>

        <!-- Bokeh Plot -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-area"></i>
                {{symbol}} Backtest
            </div>
            <div class="embed-responsive embed-responsive-4by3 bg-white c-bg col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding">
                {% with 'interface/backtest_'|add:symbol_name|add:'.html' as backtest_file %}
                  <iframe frameborder='0' scrolling='no' src='{% static backtest_file %}' class="embed-responsive-item" style="border:none; display:inline-block" ></iframe>  
                {% endwith %}
            </div>
        </div>

        <!-- Plotly Parameters -->
        <div class="card mb-3">
          <div class="card-header">
              <i class="fas fa-chart-area"></i>
              {{symbol}} Indicator
          </div>

          

          <div class="embed-responsive embed-responsive-4by3 bg-white c-bg col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding">
              {% with 'interface/plotly_'|add:symbol_name|add:'.html' as plotly_file %}
                  <iframe frameborder='0' scrolling='no' src='{% static plotly_file %}' class="embed-responsive-item" style="border:none;" ></iframe>  
              {% endwith %}
          </div>
      </div>

        
      </div>
      <!-- /.container-fluid -->
    
      
      

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'interface/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'interface/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'interface/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{% static 'interface/vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'interface/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'interface/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
  
  <!-- Custom JavaScript-->
  <script src="{% static 'interface/js/custom.js' %}"></script>


</body>

</html>
