<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% load staticfiles %}
  {% load widget_tweaks %}
  {% load mathfilters %}

  <title>WaterBot</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'interface/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'interface/vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'interface/css/sb-admin.css' %}" rel="stylesheet">
  <script src="{% static 'interface/js/sort-table.js' %}"></script>

</head>

<body id="page-top" class="sidebar-toggled">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">WaterBot</a>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav toggled">
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      {% if symbols %}
      {% for symbol in symbols %}
      <li class="nav-item">
        <a class="nav-link" href="/coinwise/{{ symbol }}">
          <i class="fab fa-bitcoin"></i>
          <span>{{ symbol }}</span></a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
          </li>
          
        </ol>

        
        <!-- Summary -->
        <div class="card mb-3">
                <div class="card-header">
                  <i class="fas fa-table"></i>
                  Summary</div>
                <div class="card-body">
                  <div class="table-responsive">

                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                          {% if forward_metrics %}
                            {% for key, value in forward_metrics.items%} 											
                            <td style="background-color:#f9f9f9;"><b>{{ key }}:</b></td>
                            <td class="colored">{{ value }}</td>

                            {% endfor %}
                          {% else %}
                            <p class="text-danger">No data found</p>
                          {% endif %}
                      </table> 
                    <br/>
            
                    <b>Current Predictions:</b>
                    <table class="table table-bordered js-sort-table" id="dataTable" width="100%" cellspacing="0">
                        {% if predictions %}
                        <thead>
                          <tr>
                              {% for header in positions_predictions_headers %}
                                <th>{{ header }}</th>
                              {% endfor %}
                          </tr>
                        </thead>
                        <tbody>
                        {% for list in predictions %} 
                            <tr class="colored">
                                {% for val in list %}
                                <td>
                                    {% if forloop.counter == 1 %}
                                    <b>{{ val }}</b>
                                    {% else %}
                                    {{ val }}
                                    {% endif %}
                                  </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                      </tbody>

                        {% else %}
                        <p class="text-danger">No data found</p>
                        {% endif %}
                    </table>

                    <b>Current Positions:</b>
                    <table class="table table-bordered js-sort-table" id="dataTable" width="100%" cellspacing="0">
                        {% if positions %}
                        <thead>
                          <tr>
                              {% for header in positions_predictions_headers %}
                                <th>{{ header }}</th>
                              {% endfor %}
                          </tr>
                        </thead>
                        <tbody>
                        {% for list in positions %} 
                            <tr class="colored">
                                {% for val in list %}
                                <td>
                                    {% if forloop.counter == 1 %}
                                    <b>{{ val }}</b>
                                    {% else %}
                                    {{ val }}
                                    {% endif %}
                                  </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                      </tbody>

                        {% else %}
                        <p class="text-danger">No data found</p>
                        {% endif %}
                    </table>


                    <b>Parameters:</b>

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        {% if current_parameters %}
                          {% for key, value in current_parameters.items%} 											
                          <td style="background-color:#f9f9f9;"><b>{{ key }}:</b></td>
                          <td>{{ value }}</td>

                          {% if forloop.counter|divisibleby:4 %}
                          </tr>
                          <tr>
                          {% endif %}

                          {% endfor %}
                        {% else %}
                          <p class="text-danger">No data found</p>
                        {% endif %}
                    </table> 

                    <h3>Coinwise Statistics - All Time</h3>
                                                                
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        {% if all_time_coinwise %}
                        {% for key, value in all_time_coinwise.items%} 											
                            <td style="background-color:#f9f9f9;"><b>{{ key }}:</b></td>
                            <td class="colored">{{ value }} %</td>

                            {% if forloop.counter|divisibleby:8 %}
                            </tr>
                            <tr>
                            {% endif %}
                        {% endfor %}
                        </tr>

                        {% else %}
                        <p class="text-danger">No data found</p>
                        {% endif %}
                    </table>

                    <h3>Features</h3>

                    <table class="table table-bordered js-sort-table" id="dataTable" width="100%" cellspacing="0">
                        {% if features %}
                        <thead>
                          <tr>
                              {% for header in features_header %}
                                <th style="padding:0; margin:0;">{{ header }}</th>
                              {% endfor %}
                          </tr>
                        </thead>
                        <tbody>
                        {% for list in features %} 
                            <tr>
                                {% for val in list %}
                                  

                                  {% if forloop.counter|divisibleby:2 and forloop.counter|divisibleby:4 == False and forloop.counter|divisibleby:6 == False %}
                                    <td style="padding:0; margin:0;" class="colored">{{ val }}</td>
                                  {% else %}

                                    {% if forloop.counter|divisibleby:3 and forloop.counter|divisibleby:6 == False and forloop.counter|divisibleby:9 == False %}
                                      <td style="padding:0; margin:0;" class="colored">{{ val }}</td>
                                    {% else %}
                                      <td style="padding:0; margin:0;">{{ val }}</td>
                                    {% endif %}
                                  {% endif %}

                                  

                                {% endfor %}
                            </tr>
                        {% endfor %}
                      </tbody>

                        {% else %}
                        <p class="text-danger">No data found</p>
                        {% endif %}
                    </table>


                  </div>
                </div>
                <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
        </div>

        <!-- Portfolio Movement Plotly Embedding-->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-area"></i>
                Combined Performance
            </div>
            <div class="embed-responsive embed-responsive-4by3 bg-white c-bg col-xs-12 col-sm-12 col-md-12 col-lg-12 nopadding" style="max-height: 70vh;">
                    <iframe frameborder='0' scrolling='no' src='{% static 'interface/plotly.html' %}' class="embed-responsive-item" style="border:none;" ></iframe>
            </div>
            <!-- <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div> -->
        </div>

        
      </div>
      <!-- /.container-fluid -->
    
      
      

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'interface/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'interface/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'interface/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{% static 'interface/vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'interface/vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'interface/vendor/datatables/dataTables.bootstrap4.js' %}"></script>
  
  <!-- Custom JavaScript-->
  <script src="{% static 'interface/js/custom.js' %}"></script>



</body>

</html>
